<html ng-app="myApp">
  <head>
    <title>Liar's Dice</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
    <script>
      var old_token = "{{ token }}";
    </script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
  </head>
  <body>
    <div ng-controller="MainController as ctrl">
      <div ng-show="!ctrl.token">
        <p>Not logged in</p>
        <form ng-submit="ctrl.getToken()">
          <input type="text" ng-model="ctrl.username" placeholder="username">
          <input type="submit" value="join">
        </form>
      </div>
      <div ng-show="ctrl.token">
        <p>Token: {[ctrl.token]}</p>
        <p>You are logged in, {[ctrl.username]}!</p>
        <form ng-submit="ctrl.sendChat()">
          <input type="text" ng-model="ctrl.chatmsg">
          <input type="submit" value="chat">
        </form>
        <hr>
        {[ctrl.status]}
        <input type="button" value="Refresh" ng-click="ctrl.getQueues()">
        <input type="button" value="{[q.users.length]}/{[q.size]}" ng-show="ctrl.queueList && !ctrl.currentQueue" ng-click="ctrl.joinQueue($index)" ng-repeat="q in ctrl.queueList">
        <input type="button" value="leave queue" ng-show="ctrl.currentQueue" ng-click="ctrl.leaveQueue()">
        <ul ng-show="ctrl.currentQueue">
          <li ng-repeat="user in ctrl.currentQueue.users">{[user.name]}</li>
        </ul>
      </div>
    </div>
  </body>
</html>